#jpdiv{
    width:90%;
    height:500px;
    background-color:;
    margin:auto;
}

#jpagaum{
    text-align:center;
    font-size:50px;
    color:white;
}

#jppe{
    text-align:center;
    font-size:25px;
    color:white;
}





