*{
<<<<<<< Updated upstream
    margin:0;
    padding:0;
}
#indexp{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.divnoticia{
    text-align: center;
}
#jpdiv{
    width:90%;
    height:500px;
    background-color:
    margin:auto;
}
#jpagaum{
    text-align:center;
    font-size:50px;
    font-size:min(50px,8vw);
    color:white;
}
#jppe{
    text-align:center;
    font-size:25px;
    font-size:min(25px,4vw);
    color:white;
}




















































































.h12{
    width:100%;
    background-color:rgb(0, 0, 0);
    text-align: center;
    color: white;
    border-radius: 0 10px;
}
.not1{
    color: black;
    width: 90%;
    background-color:	#cdd839;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px	#709713;
}
.tith2{
    background-color: rgb(0, 0, 0);
    color: yellow;
=======
    padding: 0;
    margin: auto;
    font-size: 4vw;
}
.not1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    background-size: 100%;
    text-align: center;
    color: white;
    display: inline-block;            
    font-size: 20px;
    padding: 30px;
}
.cdb{
    width: 90%;
    background-color:	#ffffff;
    margin: auto;
    margin-top: 10px;
>>>>>>> Stashed changes
}