*{
    margin:0;
    padding:0;
}

#indexp{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.divnoticia{
    text-align: center;
}

#jpdiv{
    width:90%;
    height:500px;
    background-color:
    margin:auto;
}
#jpagaum{
    text-align:center;
    font-size:50px;
    font-size:min(50px,8vw);
    color:white;
}
#jppe{
    text-align:center;
    font-size:25px;
    font-size:min(25px,4vw);
    color:white;
}





<<<<<<< HEAD

=======
<<<<<<< HEAD














































































.h12{
    width:100%;
    background-color:rgb(207, 36, 36);
    text-align: center;
    margin: auto;
}
.not1{
    color: black;
    width: 90%;
    background-color:	#cdd839;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px	#709713;
}
=======
>>>>>>> e100edb72ae2f33ec159023a414d7374efb2a228
>>>>>>> 97fb9e3b74d0e534e496311f10e93a98f878a100
>>>>>>> 37ada61ffe4263561bf5cd5255166fdced7bd227
